<ng-container *ngIf="!role || (role.length > 0 && role.includes(userRole))">
  <form class="example-form">
    <div class="component">
      <div class="label">
        <mat-label>{{ label }}</mat-label>
      </div>
      <app-error
        [isValidate]="isValidate"
        [value]="value"
        [required]="required"
        [label]="label"
        [placeholder]="placeholder"
      ></app-error>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ placeholder }}</mat-label>
        <input
          type="text"
          [placeholder]="placeholder"
          aria-label="Number"
          [readonly]="disabled"
          matInput
          [formControl]="inputControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="valueChanged($event.option.value)"
        >
          <mat-option
            *ngFor="let option of filterOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>
</ng-container>
